@mixin customize-scroll($width: 4px, $color: #a1a6ad, $background: #fff) {
  &::-webkit-scrollbar-track {
    border-radius: $width;
  }

  &::-webkit-scrollbar {
    width: $width;
    background: $background;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $width;
    background: $color;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: $color;
  }
}
